@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    background-image: url(https://i.ibb.co/dGZ55Dx/ideebackground2.png);
    background-size: cover;
    background-position: top;
    color: #202225;
    transition: background 0.2s linear;
    /* darkmode transition*/
    height: 100.0vh;
    font-family: 'Merriweather Sans', sans-serif;
}
header a {
    font-size: 20px;
    font-weight: 600;
}
.home-content p {
    font-size: 15px;
    font-weight: 600;
    color: #fb983b;
}

/* Début Dark mode */
body.dark, .themeArticle {
    background-image: url(https://i.ibb.co/RPZKZkL/ideebackground.png);
    background-size: cover;
    background-position: top;
    color: #FAF8FF;
}
li {
    justify-content: center;
    align-items: center;
}
.checkbox {
    opacity: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.label {
    background-color: #fb983b;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1);
}
.label .ball {
    background-color: #FAF8FF;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}
.fa-moon, .fa-sun {
    color: #fb983b;
}
/* Fin Dark mode */

/* Modal */
.modal-content {
    background-color: #FAF8FF;
    border-color: #fb983bcb;
    border-radius: 5px;
    color: #fb983bcb;
    border-style: none;
    font-size: 15px;
}
.modal-header {
    color: #fb983bcb;
    border-color: #fb983bcb;
}
.modal-footer {
    border-color: #fb983bcb;
}
.form-check-input:checked {
    background-color: #fb983b;
    border-color: #fb983b;
}
.form-check-label{
    font-size: 15px ;
}
.btn-dark {
    background-color: #FAF8FF;
    border-color: #fb983b;
    color: #fb983b;
}
.btn-dark:hover {
    background-color: #fb983b;
    border-color: #fb983b;
    color: #FAF8FF;
}
/* Fin Modal */

/* ---------- Début NavBar ---------- */
.nav-link, i {
    color: #fb983b !important;
}

/* Début effet sur lien */
.link-6 a:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.link-6 a {
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.nav-link:hover,  .bi-gear-fill:hover, .bi-chevron-up:hover, .bi-x-lg:hover {
    opacity: 0.6;
}
/* Fin effet sur lien */

/* ---------- Fin NavBar ---------- */

/* ---------- Début Page Home ---------- */
/* Carousel Size */
.carousel {
    max-width: 700px;
    margin: 1% auto;
    box-shadow: 10px 10px 71px -103px rgba(251,121,53,0.17);
    -webkit-box-shadow: 10px 10px 71px -103px rgba(251,121,53,0.17);
    -moz-box-shadow: 10px 10px 71px -103px rgba(251,121,53,0.17);
}
/* Icon preview and next in Carousel */
.carousel-control-prev-icon {
    background-color: #fcab3d;
    margin: 1%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #FAF8FF;
    font-size: 0.5em;
    font-weight: bolder;
    outline: none;
}
.carousel-control-next-icon {
    background-color: #fcab3d;
    margin: 1%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #FAF8FF;
    font-size: 0.5em;
    font-weight: bolder;
    outline: none;
}
.carousel-indicators {
    border-color: #fcab3d;
    color: #fcab3d;
}
#carouselExampleIndicators {
    background-color: #fcab3d;
}
/* ---------- Fin Page Home ---------- */

/* ---------- Début Page Article ---------- */
.articleSection, .themeArticle {
    text-align: center;
    font-weight: bold;
    text-decoration: underline #fcab3d;
}
.articleSection, .titleArticle {
    font-weight: bold;
}
.dateArticle, .linkArticle {
    color: #767c81;
    text-decoration: none;
}

.articleSection  {
    color: #212529;
    text-decoration: none;
}
.linkArticle:hover {
    color: #fb983b;
}
.titleArticle  {
    color: #fcab3d;
}
.articleSection .card {
    border: 2px #fb983b solid;
}
.articleSection .card-header, .articleSection .card-body {
    border-bottom: 0.1rem solid #fcab3d;
}
.art {
    color: #fb983b;
}

/* ---------- Fin Page Article ---------- */

/* ---------- Début Footer ---------- */
.bi-chevron-up {
    color: #fff !important;
}
.footerBlack, .copyBlack {
    background-color: #fb983b;
}
/* Info bas de page pour le choix de l'actualité */
.alert {
	box-sizing: border-box;
	background-color: transparent;
	width: 100%;
	position: relative;
	z-index: 300;
	padding: 20px 40px;
}
.alert h6 {
	font-size: 15px;
	color: #BEB6B8;
	margin-top: 0;
}
/* Info bas de page pour le choix de l'actualité */
/* ---------- Fin Footer ---------- */

/* ---------- Début Page 404 ---------- */
.titleError {
    text-align: center;
    font-weight: bold;
    color: #fb983b;
}
.colError{
    border-radius: 0.5rem;
    border: 0.3rem solid #fb983b;
}
.messageError {
    text-align: center;
    font-weight: bold;
}
/* ---------- Fin Page 404 ---------- */